<form method="post" name="login" action="checklogin.php"> 
<div class="logingesamt">
<div class="loginuser"><input name="ws_user" type="text" size="13" value="Nickname" onfocus="this.value=''" style="background-image:url(styles/login/logininput.jpg); padding-left:4px; padding-top:2px; width:122px; height:13px; margin:0px; border:0px; color:#fff; overflow:hidden; font-size:10px;" /></div>
<div class="loginpass"><input name="pwd" type="password" size="13" value="Password" onfocus="this.value=''" style="background-image:url(styles/login/logininput.jpg); padding-left:4px; padding-top:2px; width:122px; height:13px; margin:0px; border:0px; color:#fff; overflow:hidden; font-size:10px;" /></div><br />
<div style="width:auto;"><a href="index.php?site=register"><img src="styles/login/register.jpg" width="60" height="20" border="0" alt="Register"/></a>
<a href="index.php?site=lostpassword"><img src="styles/login/lostpw.jpg" width="53" height="20" border="0" alt="Lost Password"/></a>
<input type="image" name="submit" src="styles/login/submit.jpg" style="width:42px; height:20px; margin:0px; border:0px;" /></div>
</div>
</form>