<div class="newsgesamt">
 <div class="newspic">$rubricpic</div>
  <div class="newsright">
   <div class="newsheadline"><a href="index.php?site=news_comments&amp;newsID=$newsID">$headline</a> $isintern</div>
   <div class="newsline"></div>
   <div class="newscontent">$content $adminspacer<div style="text-align: right;">$adminaction</div></div>
   <div class="newsline"></div>
   <div class="newsdate">$date | $poster | <span style="font-weight:bold;">$comments</span></div>
  </div>
 <div style="clear:both;"></div>
</div>
<div class="newsend"></div>