<style type="text/css">
<!--
.Stil1 {
	font-family: Arial;
	font-size: 10px;
}
-->
</style>
<table width="620" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td background="../Bilder/forumtopic/topiccontentbg_01.png" height="50"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="bottom" height="50"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="2%">&nbsp;</td>
        <td width="20%"><div align="center" class="Stil1">$username $member<br />
          $usertype</div></td>
        <td width="78%"><a href="#$postID" name="$postID" id="$postID"><img src="images/icons/posticon.gif" width="10" height="11" alt="" /></a> <i>$date, $time</i> $pm $buddy $email $hp $statuspic</td>
      </tr>
    </table></td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td background="../Bilder/forumtopic/topiccontentbg_02.png"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="147" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="27">&nbsp;</td>
            <td width="96"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="3"><img src="../Bilder/forumtopic/topicmain_03.gif" width="95" height="3" /></td>
              </tr>
              <tr>
                <td height="90" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="3"><img src="../Bilder/forumtopic/topicmain_07.gif" /></td>
                    <td width="90" background="../Bilder/forumtopic/topicmain_08.gif" height="90"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>$avatar</td>
  </tr>
</table>
</td>
                    <td width="3"><img src="../Bilder/forumtopic/topicmain_09.gif" /></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="3"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><img src="../Bilder/forumtopic/topicmain_11.gif" /></td>
                  </tr>
                  <tr>
                    <td><div align="center" class="Stil1">$posts %posts%<br />
                      %registered%: $registered</div></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
            <td width="25">&nbsp;</td>
          </tr>
        </table></td>
        <td width="432"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="../Bilder/forumtopic/topicmain_05.gif" width="432" height="8" /></td>
          </tr>
          <tr>
            <td background="../Bilder/forumtopic/topicmain_10.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="2%">&nbsp;</td>
        <td width="97%"><span style="overflow:hidden;">$message</span></td>
        <td width="1%">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
</td>
          </tr>
          <tr>
            <td><img src="../Bilder/forumtopic/topicmain_13.gif" width="432" height="3" /></td>
          </tr>
          <tr>
            <td background="../Bilder/forumtopic/topicmain_14.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="2%">&nbsp;</td>
        <td width="97%"><small>$signatur</small></td>
        <td width="1%">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
</td>
          </tr>
          <tr>
            <td><img src="../Bilder/forumtopic/topicmain_15.gif" width="432" height="6" /></td>
          </tr>
        </table></td>
        <td width="41">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td valign="top" background="../Bilder/forumtopic/topiccontentbg_03.png" height="72"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="67%">&nbsp;</td>
        <td width="31%">$quote$actions&nbsp;</td>
        <td width="2%">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
