<table width="601" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td background="Bilder/forum/content.png" width="600" height="54" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%">&nbsp;</td>
            <td width="47%">$icon  $boardname<br />
$boardinfo</td>
            <td width="47%">$moderators  <a href="$postlink">$date $time</a> $poster $member</td>
            <td width="3%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
