<table width="601" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td background="Bilder/imprint/impressum_02.png" height="71"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="31">&nbsp;</td>
        <td>$headline1</td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td background="Bilder/imprint/impressum_03.png" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%">&nbsp;</td>
            <td width="94%">$imprint_head</td>
            <td width="3%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
  <tr>
    <td background="Bilder/imprint/impressum_02.png" height="71"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="31">&nbsp;</td>
        <td>$headline2</td>
        <td>&nbsp;</td>
      </tr>
    </table>
</td>
  </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%">&nbsp;</td>
            <td width="94%">%coding_info%<br />
              <br />
              Copyright &copy; <a href="http://www.webspell.org" target="_blank"><b>www.webSPELL.org</b></a></td>
            <td width="3%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
  <tr>
    <td background="Bilder/imprint/impressum_02.png" height="71"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="31">&nbsp;</td>
        <td>%disclaimer%</td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%">&nbsp;</td>
            <td width="94%">%disclaimer_text%</td>
            <td width="3%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td><img src="Bilder/imprint/impressum_04.png" width="601" height="48" /></td>
  </tr>
</table>
