<style type="text/css">
<!--
body,td,th {
	font-family: Arial;
	font-size: 10px;
}
-->
</style>&#8226; <a href="index.php?site=loginoverview">%overview%</a><br />
&#8226; <a href="index.php?site=myprofile">%edit_account%</a><br />
&#8226; <a href="index.php?site=messenger">%messenger%</a>$newmessages<br />
&#8226; <a href="index.php?site=usergallery">%galleries%</a><br />
&#8226; <a href="index.php?site=buddys">%buddy_list%</a><br />
$cashbox
$admin
&#8226; <a href="logout.php">%logout%</a>