<style type="text/css">
<!--
body,td,th {
	font-family: Arial;
}
.Stil1 {
	font-size: 12px;
	font-weight: bold;
}
-->
</style><table width="601" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td background="Bilder/contentbereich/Bilder/xL-Websolut-WoW-Free-Teamplate-content_01.png"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="72"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="4%">&nbsp;</td>
        <td width="63%">$isintern <a class="titlelink" href="index.php?site=news_comments&amp;newsID=$newsID">$headline</a></td>
        <td width="33%">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td background="Bilder/contentbereich/Bilder/xL-Websolut-WoW-Free-Teamplate-content_02.png"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="3%">&nbsp;</td>
        <td width="94%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>$content</td>
          </tr>
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="57%"><span>%links%</span>: $related<br />
                  <span>%written_by% $poster - $date - $time</span></td>
                <td width="43%" valign="top"><span style="overflow:hidden;">$comments</span></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td width="3%">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td background="Bilder/contentbereich/Bilder/xL-Websolut-WoW-Free-Teamplate-content_03.png"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="48"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="8%">&nbsp;</td>
        <td width="59%">$adminaction</td>
        <td width="33%">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
</td>
  </tr>
</table>
