<div>
<form method="post" name="login" action="checklogin.php"> 
<div>
<input name="ws_user" type="text" size="13" value="Username" onfocus="this.value=''" style="background:url(design/login/form_login.jpg); border:0; height:25px; width:240px; padding:0; color:#d0dbdf; margin:0 0 5px 5px; font-size:11px;" /><br />
<input name="pwd" type="password" size="13" value="Password" onfocus="this.value=''" style="background:url(design/login/form_login.jpg); border:0; height:25px; width:240px; margin:0 0 5px 5px; padding:0; color:#d0dbdf; font-size:11px;" /><br />
</div>
<div style="float:right; padding-right:5px; width:74px;">
<input type="submit" name="submit" value="" style="border:0; background:url(design/login/login_btn.jpg) no-repeat; margin:0; padding:0; width:74px; height:24px; cursor:pointer;" />
</div>
<div class="register">
<a title="%register_now%" href="index.php?site=register">Register</a> and become part of us!<br />
Retrive <a title="%lost_password%" href="index.php?site=lostpassword">lost password</a>.
</div>
<div style="clear:both"></div>
</form>
</div>