<form method="post" name="login" action="checklogin.php"> 
<div class="logininput"><input name="ws_user" type="text" size="13" value="Username" onfocus="this.value=''" style="background-image:url(styles/login/logininput.jpg); width:155px; height:20px; padding-top:5px; padding-left:20px; margin:0px; border:0px; font-size:12px;" /></div><br />
<div class="logininput"><input name="pwd" type="password" size="13" value="Password" onfocus="this.value=''" style="background-image:url(styles/login/logininput.jpg); width:155px; height:20px; padding-top:5px; padding-left:20px; margin:0px; border:0px; font-size:12px;" /></div><br />
<div class="loginsubmit"><input type="submit" name="submit" value="%login%" style="background-color:#c9c9c9; width:125px; height:25px; margin:0px; border:0px; font-size:12px;"/></div><br /> 
<div class="loginlinks"><a href="index.php?site=register">%register_now%</a></div>
<div class="loginlinks"><a href="index.php?site=lostpassword">%lost_password%</a></div>
<div class="loginlinks"><a href="index.php?site=registered_users">%registered_users%</a></div>
</form>