<form method="get" action="index.php" onsubmit="return formcheck_onsend('quicksearch');">
<input name="action" type="hidden" value="search" /><input name="all" type="hidden" value="true" /><input name="order" type="hidden" value="1" /><input name="r" type="hidden" value="50" /><input name="site" type="hidden" value="search" />
<input id="quicksearch" style="background-image:
url(styles/header/search.jpg); width:117px; height:21px; padding-left:10px; padding-top:5px; margin:0px; border:0px; overflow:hidden;" name="text" type="text" value="%search_term%..." onfocus="if(this.value == '%search_term%...')this.value=''" />
<input type="hidden"/>
</form>