#######################################################################
#     Diese .htaccess wurde vom STRATO-Webservermanager erstellt      #
#######################################################################

















ErrorDocument 404 http://www.wemake-it.de/index.php?site=404












 







