<tr> 
  <td width="22" align="center" style="border:1px solid #ededed; padding:2px;">$icon</td>
  <td style="border:1px solid #ededed; padding:2px;">$boardname<br />&nbsp;&nbsp;<small>$boardinfo<br /><br />$moderators</small></td>
  <td style="border:1px solid #ededed; padding:2px;" align="center">$anztopics</td>
  <td style="border:1px solid #ededed; padding:2px;" align="center">$anzposts</td>
  <td style="border:1px solid #ededed; padding:2px;" align="center"><a href="$postlink">$date $time</a><br />$poster</td>
</tr>