<div class="inh">
<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td>
	 <table width="100%" border="0" cellpadding="2" cellspacing="0">
      <tr>
        <td><img src="images/icons/boardicons/on.gif" alt="new posts" width="32" height="32" /> <small>%new_posts%</small></td>
        <td><img src="images/icons/boardicons/off.gif" alt="no new posts" width="32" height="32" /> <small>%no_new_posts%</small></td>
      </tr>
      <tr>
        <td><img src="images/icons/boardicons/ro-on.gif" alt="new posts" width="32" height="32" /> <small>%new_posts% [%read_only%]</small></td>
        <td><img src="images/icons/boardicons/ro-off.gif" alt="no new posts" width="32" height="32" /> <small>%no_new_posts% [%read_only%]</small></td>
      </tr>
    </table>
    </td>
    <td align="right" valign="top"><a href="index.php?site=forum&amp;action=markall"><img src="images/silver_forum/allread.png" border="0" title="%mark_all_read%" alt="" /></a></td>
  </tr>
</table>
</div>