<tr>
  <td style="border:1px solid #ededed; padding:2px;" align="center" height="40">$folder</td>
  <td style="border:1px solid #ededed; padding:2px;" align="center">$icon</td>
  <td style="border:1px solid #ededed; padding:2px;">$link $topicpage_link</td>
  <td style="border:1px solid #ededed; padding:2px;" align="center">$poster $member1</td>
  <td style="border:1px solid #ededed; padding:2px;" align="center">$replys</td>
  <td style="border:1px solid #ededed; padding:2px;" align="center">$views</td>
  <td style="border:1px solid #ededed; padding:2px;" align="center"><img src="images/silver_forum/reply.gif" width="14" height="11" alt="" /><small>$date<br />$lastposter</small></td>
</tr>