<form method="post" name="login" action="checklogin.php"> 
<input name="ws_user" type="text" value="Username" onfocus="this.value=''" style="background:url(styles/content/username.jpg); width:166px; height:18px; margin:0; border:0; padding:5px 10px 0 90px;" /><br /><br /> 
<input name="pwd" type="password" value="Password" onfocus="this.value=''" style="background:url(styles/content/password.jpg); width:166px; height:18px; margin:0; border:0; padding:5px 10px 0 90px;" /><br /><br /> 
<span style="width:auto; height:auto; float:left;"><input type="image" name="submit2" src="styles/content/submit.jpg" style="margin:0px; border:0px;" /></span>
<span style="width:auto; height:auto; padding:1px 0 0 12px; float:left;"><a class="grey" href="index.php?site=register">%register_now%</a> &nbsp; <a href="index.php?site=lostpassword">%lost_password%</a></span>
</form>