<span style="padding:0 10px 0 22px; float:left;"><a href="http://$url2"><img src="images/topmatch/$logo2" width="70" height="70" alt="" /></a></span>
<span style="display:block; padding:5px 0;"><span class="grey">Date:</span> <span class="white">$date</span></span>
<span style="display:block; padding:5px 0;"><span class="grey">Time:</span> <span class="white">$time</span></span>
<span style="display:block; padding:5px 0;"><span class="grey">Maps:</span> <span class="white">$maps</span></span>