<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td style="border:3px solid #999999;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="border-bottom:1px dotted #999999; font-size:12px; font-family:Arial, Helvetica, sans-serif; padding:1px;"><a class="titlelink" href="index.php?site=news_comments&amp;newsID=$newsID">$headline</a> @ $isintern $date</td>
          </tr>
          <tr>
            <td style="border-bottom:1px dotted #999999; padding:1px;"><span style="float:left; padding-right:3px;">$rubricpic</span> $content</td>
          </tr>
          <tr>
            <td>$comments</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
$adminspacer
<div style="text-align: right;">$adminaction</div>
<br />