<table width="998" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="../images/news/news_03.jpg" width="998" height="6" /></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="6"><img src="../images/news/news_05.jpg" width="6" height="84" /></td>
        <td width="986" align="center" height="84" background="../images/news/news_06.jpg">$rubricpic</td>
        <td width="6"><img src="../images/news/news_07.jpg" width="6" height="84" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td background="../images/news/news_08.jpg" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="1%">&nbsp;</td>
    <td width="98%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>$content</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
    <td width="1%">&nbsp;</td>
  </tr>
</table>
</td>
      </tr>
      <tr>
        <td background="../images/news/news_09.jpg" height="40"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="1%">&nbsp;</td>
            <td width="48%">%written_by% $poster - $date - $time %links%: $related</td>
            <td width="27%"><span style="overflow:hidden;">$comments</span></td>
            <td width="24%">$adminaction</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
