    <td bgcolor="$bg2">Name: $ar[vidheadline]</td>
    </tr>
    <tr>
      <td width="70%" bgcolor="$bg2">$len: $ar[vidlength] $mins</td>
    </tr>
       <tr>
      <td width="70%" bgcolor="$bg2">Uploader: $ar[vidsource]</td>
    </tr>
       <tr>
      <td width="70%" bgcolor="$bg2">$cli: $ar[hits]</td>
    </tr>
    <tr><td width="70%" bgcolor="$bg2">$comm: $com</td></tr>
    <tr>
      <td width="70%" bgcolor="$bg2"><a style="display: block; height: 100%; width: 100%;" href="index.php?site=videos&action=detail&id=$ar[vidID]&portal=$ar[portal]">$vis</a> </td>
    </tr>
 </table>
