<!-- COPYRIGHT BY www.dailyinput.de -->
<form action="./index.php?site=videos&action=save" method="post" enctype="multipart/form-data" name="save">
<table width="100%" cellspacing="1" cellpadding="2" bgcolor="$border">
	<tr bgcolor="$bghead"><td class="title" align="center" colspan="2">$head</td></tr>
    <tr><td bgcolor="$bg1">Name:</td><td bgcolor="$bg2"><input type="text" name="name"></td></tr>
    <tr><td bgcolor="$bg1">$leng:</td><td bgcolor="$bg2"><input type="text" name="length"></td></tr>
    <tr><td bgcolor="$bg1">Uploader:</td><td bgcolor="$bg2"><input type="text" name="source"></td></tr>
    <tr><td bgcolor="$bg1">$cat:</td><td bgcolor="$bg2"><select name="rubric">$rubriken</select></td></tr>
    <tr><td bgcolor="$bg1">Video-Portal:</td><td bgcolor="$bg2"><select name="portal">$ports</select></td></tr>
    <tr><td bgcolor="$bg1">$desc:</td><td bgcolor="$bg2"><textarea name="description" cols="59" rows="7"></textarea></td></tr>
    <tr><td bgcolor="$bg1">Video-ID:</td><td bgcolor="$bg2"><input name="clip" type="text" value="" size="62"></td></tr>
    <tr><td bgcolor="$bg1"><input type="submit" value="save" name="save"></td><td bgcolor="$bg2"></td></tr>
</table>
</form>