<table width="195" cellspacing="0" cellpadding="2">
  <tr> 
    <td align="center">$l_avatar</td>
    <td valign="top" class="login">
      &#8226; <a href="index.php?site=loginoverview">%overview%</a><br>
      &#8226; <a href="index.php?site=myprofile">%edit_account%</a><br>
      &#8226; <a href="index.php?site=messenger">%messenger%</a>$newmessages<br>
      &#8226; <a href="index.php?site=usergallery">%galleries%</a><br>
      $admin
      &#8226; <a href="logout.php">logout</a>
    </td>
  </tr>
</table>