<table width="447" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td background="slike/news/news_top.jpg" height="94" valign="bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="news_head" valign="top" style="padding-left:2px; padding-top:2px; padding-bottom:5px;">$rubricpic</td>
          </tr>
          <tr>
            <td class="news_head">$headline</td>
          </tr>
          <tr>
            <td height="15" align="right" class="news_date">$date - $time</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>$content<br /><br />$adminaction</td>
      </tr>
      <tr>
        <td background="slike/news/news_bottom.jpg" height="21"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" class="news_head">$comments</td>
            <td align="right" class="news_date">%written_by% $poster</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    </tr>
</table>
<br />