<table width="739" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="165"><div class="login_menu_3" style="font-family:Arial; font-size:11px; color:#FFFFFF"><b>%welcome_back%: $username</b></div></td>
    <td width="574">
    
    <div class="login_menu"><a style="font-family:Arial; font-size:11px; color:#FFFFFF" href="index.php?site=myprofile">%edit_account%</a></div>
    <div class="login_menu_2"><a style="font-family:Arial; font-size:11px; color:#FFFFFF" href="index.php?site=messenger">%messenger%</a>$newmessages</div>
    <div class="login_menu"><a style="font-family:Arial; font-size:11px; color:#FFFFFF" href="logout.php">%logout%</a></div>
    <div class="login_menu">$admin</div></td>
    
  </tr>
</table>