<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td style="background-repeat:no-repeat;" background="img/login.png">        
	  <form method="post" name="login" action="checklogin.php">
	    <table width="739" style="background-repeat:no-repeat" background="include/designs/neXorAD_05/img/login.png" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="177"><div class="mainfont" align="center">Welcome!</div></td>
            <td width="178">
            
            <input class="mainfont" style="margin-left: 10px; border-color:transparent; background-color: transparent; color:#FFFFFF;" type="text" name="ws_user" size="27"  onfocus="this.className='form_on'" onblur="this.className='form_off'" maxlength="50" />
            
            
            </td>
            <td width="180">
            
            <input class="mainfont" style="margin-left: 10px; border-color:transparent; background-color: transparent; color:#FFFFFF;" type="password" size="27"  onFocus="this.className='form_on'" onBlur="this.className='form_off'" maxlength="20" name="pwd" />
                        
            </td>
            <td width="103">
            
                <input class="mainfont" style="width:100px; border-color:transparent; background-color: transparent;" type="submit" name="Submit" value="%login%" />
                
            </td>
            <td width="101"><div style="margin-left:19px;"><a style="font-family:Arial; font-size:11px; color:#FFFFFF" href="index.php?site=register">%register_now%</a></div></td>
          </tr>
        </table>
	  </form>
    </td>
  </tr>
</table>

