<form method="post" name="login" action="checklogin.php"> 
<div style="text-align:center;">
<p><input name="ws_user" type="text" size="13" value="Username" onfocus="this.value=''" style="background-image:url(styles/header/input.jpg); width:114px; height:16px; margin:0px; padding:3px 0px 0px 5px; border:0px;" />
<input name="pwd" type="password" size="13" value="Password" onfocus="this.value=''" style="background-image:url(styles/header/input.jpg); width:114px; height:16px;margin:0px; padding:3px 0px 0px 5px; border:0px;" /></p>
<p><input type="image" src="styles/header/submit.jpg" name="submit" style="margin:0px; border:0px;" /><a href="index.php?site=register"><img src="styles/header/register.jpg" width="61" height="27" border="0" alt="register" /></a></p>
</div>
</form>