<form method="post" name="login" action="checklogin.php"> 
<div class="logingesamt">
<div class="logininput"><input name="ws_user" type="text" value="Username" onfocus="this.value=''" style="background-color:#fff; width:116px; height:16px; margin:0px; border:0px; padding:3px 7px 1px;" /></div>
<div class="logininput"><input name="pwd" type="password" value="Password" onfocus="this.value=''" style="background-color:#fff; width:116px; height:16px; margin:0px; border:0px; padding:3px 7px 1px;" /></div>
<div class="submit"><input type="image" name="submit" src="styles/login/submit.jpg" style="width:42px; height:27px; border:0px; margin:0px;" /></div>
<div class="loginp"><a href="index.php?site=register">%register_now%</a></div>
<div class="loginp"><a href="index.php?site=lostpassword">%lost_password%</a></div>
</div>
</form>