               



<table width="864" border="0"  cellpadding="0" cellspacing="0" >
  <tr>
    <td  height="29"><table  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="29" align="left" style="width:auto;">&nbsp;Welcome back to <b> Webspell-CMS.org </b> | enjoy your stay <span style="font-weight:300;">$username</span> ...</td>
        <td height="29" align="left" style="width:auto;">&nbsp;<a href="index.php?site=messenger">$newmessages </a></td>
      </tr>
    </table></td>
    <td width="221" align="right" height="29"><a href="logout.php">%logout%</a></td>
    <td width="12" height="29" ><a href="logout.php"></a></td>
  </tr>
</table>
