<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top">%welcome_back%: <b>$username</b><br /><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top">  
      <a href="index.php?site=loginoverview">%overview%</a><br />
      <a href="index.php?site=myprofile">%edit_account%</a><br />
      <a href="index.php?site=messenger">%messenger%</a>$newmessages<br />
      <a href="index.php?site=usergallery">%galleries%</a><br />
      <a href="index.php?site=buddys">%buddy_list%</a><br />
$hosting $support $admin<a href="logout.php">%logout%</a></td>
    <td align="right" valign="top"><span style="padding-bottom:4px; padding-top:4px; padding-right:4px;">$l_avatar</span></td>
  </tr>
</table>

    </td>
  </tr>
</table>
