<form method="post" name="login" action="checklogin.php" style=" background:none; border:none; margin-left:0px; width:866px;">
<table width="864" border="0"  cellpadding="0" cellspacing="0" >
  <tr>
    <td width="598" height="29" style="background-image:url(design/top.png); background-repeat:no-repeat;"> &nbsp;Welcome to <b>Webspell-CMS.org</b> | Already a member? Login now or <a href="index.php?site=register">signup here</a> | <a href="index.php?site=lostpassword">%lost_password%</a> 
  <?php include("sc_language.php"); ?></td>
    <td width="109" height="29" style="background-image:url(design/login/login_05.png); background-repeat:no-repeat;"><input name="ws_user" type="text" size="13" value="Username" onfocus="this.value=''" style="margin:0px; width: 84px;height:20px; background:none; border:none;  color:#504f4f; margin-left:8px; margin-top:0px; margin-right:15px;"  /></td>
    <td width="114" height="29" style="background-image:url(design/login/login_06.png); background-repeat:no-repeat;"><input name="pwd" type="password" size="13" value="Password" onfocus="this.value=''" style="margin:0px;width: 84px;height:20px; background:none; border:none; color:#504f4f; margin-left:8px; margin-top:0px; margin-right:15px;"   /></td>
    <td width="43" height="29" style="background-image:url(design/login.png); background-repeat:no-repeat;"><input type="submit" name="submit" value="&nbsp;" style="margin:0px; margin-bottom:3px;height:17px;width:33px; background:none; border:none; font-weight:bold; color:#b5b5b5;" /></td>
  </tr>
</table>
</form>
