
<div class="news">
<table width="580" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="567" height="20" style="background-image:url(design/news_top.png); background-repeat:no-repeat;"><table width="567" border="0" cellspacing="0" cellpadding="0">
      
      <tr>
        <td height="20" ><table width="580" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="19" height="20">&nbsp;</td>
            <td width="407" height="20" align="left"><h2><a class="titlelink" href="index.php?site=news_comments&amp;newsID=$newsID">$headline</a></h2> $isintern</td>
            <td width="138" align="right"><h2>$langs $date</h2></td>
            <td width="21" height="20">&nbsp;</td>
          </tr>
        </table></td>
        </tr>
    
    </table></td>
  </tr>
  <tr>
    <td width="580" style="background-image:url(design/news_middle.png)"><table width="580" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="19" >&nbsp;</td>
            <td width="526" > <div class="news_content"> 
              <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td>$rubricpic</td>
                </tr>
              </table>
$content </div> </td>
            <td width="22" >&nbsp; </td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td width="580" height="84" valign="top" style="background-image:url(design/news_footer.png)"><table width="580" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="20" height="70"></td>
            <td width="580" height="87" align="center" valign="top"><table width="580" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td height="5"></td>
              </tr>
              <tr>
              <td width="21"></td>
                <td width="277" align="left" valign="top"><span style="color:#a2a1a1; font-weight:bold;">%written_by% $poster </span><br /><span style="overflow:hidden; color:#a2a1a1; font-weight:bold;">$comments</span> <br /><small><span style="color:#a2a1a1; ">%rubric%: </span></small> <a href="index.php?site=news&amp;show=$rubrikname_link" ><small><span style="color:#a2a1a1; ">$rubrikname</span></small></a><br />
                  <p>&nbsp;</p></td>
                <td width="69" align="left" valign="top"><span style="color:#a2a1a1; font-weight:bold;">%links%:</span></td>
                <td width="189" align="left" valign="top"><span style="color:#a2a1a1; font-weight:bold;">$related</span> </td>
                <td width="24"></td>
              </tr>
            </table></td>
            <td width="20" height="70"></td>
          </tr>
        </table></td>
  </tr>
</table>
</div>
$adminspacer
<div style="text-align: right;">$adminaction</div>