
  <tr>
    <td valign="middle" bgcolor="$bg1">$filecategory :</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td bgcolor=""><a href="index.php?site=files&amp;file=$fileID">$filename </a></td>
  <td align="right" style="padding-right:2px;">Rating: ($ratingf/10)&nbsp; </td>
      </tr>
      <tr>
        <td bgcolor="">&nbsp;</td>
        <td align="right" style="padding-right:2px;">$count Downloads</td>
      </tr>
    </table></td>
  </tr>

