<table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="2">
                  <tr>
                    <td colspan="2" bgcolor="$pagebg" height="17"><strong>%your_infos%</strong></td>
                  </tr>
                  <tr>
                    <td width="23%" bgcolor="$bg1">%nasur%:*</td>
                    <td bgcolor="$bg1"><input type="text" name="firstname" /> <input type="text" name="lastname" /></td>
                  </tr>
                  <tr>
                    <td width="23%" bgcolor="$bg2">%company%*</td>
                    <td bgcolor="$bg2"><input type="text" name="firma" /></td>
                  </tr>
                  <tr>
                    <td width="23%" bgcolor="$bg1">Email:*</td>
                    <td bgcolor="$bg1"><input type="text" name="email" /></td>
                  </tr>
                  <tr>
                    <td width="23%" bgcolor="$bg2">%country%:*</td>
                    <td bgcolor="$bg2"><select name="country">$countries</select></td>
                  </tr>
                  <tr>
                    <td width="23%" bgcolor="$bg1">%postcode%:*</td>
                    <td bgcolor="$bg1"><input type="text" name="plz" size="6" /></td>
                  </tr>
                  <tr>
                    <td width="23%" bgcolor="$bg2">%city%:*</td>
                    <td bgcolor="$bg2"><input type="text" name="town" size="30" /></td>
                  </tr>
                  <tr>
                    <td width="23%" bgcolor="$bg1">%street%:*</td>
                    <td bgcolor="$bg1"><input type="text" name="street" size="31" /></td>
                  </tr>
                  <tr>
                    <td width="23%" bgcolor="$bg2">%housenum%:*</td>
                    <td bgcolor="$bg2"><input type="text" name="hn" size="4" /></td>
                  </tr>
                </table></td>
              </tr>
            </table>