$styles
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      		<tr>
        		<td><h1>$company </h1></td>
        		<td class="box"><strong>InvoiceID:</strong> $invoiceID<br /><strong>Date:</strong> $date<br /><strong>Client:</strong> $client</td>
      		</tr>
           </table>
        </td>
      </tr>
      <tr>
        <td>$address<br />$postcode $town<br />$phone</td>
      </tr>
      <tr>
        <td style="padding:2px;">$ordered</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="box"><strong>Notes:</strong><br />Our bankname: $bankname<br />Account: $account</td>
      </tr>
    </table></td>
  </tr>
</table>