            <label for="NameLastname">%nasur%:</label><br />
			<input type="text" name="firstname" />&nbsp;
            <input type="text" name="lastname2" /><br />
			<label for="Company">%company%</label><br />
            <input type="text" name="firma2" /><br />
            <label for="Company">Email:</label><br />
            <input type="text" name="email" /><br />
            <label for="Company">%country%</label><br />
            <select name="country">$countries</select><br />
            <label for="Company">%postcode%:</label><br />
            <input type="text" name="plz" size="6" /><br />
            <label for="Company">%city%:</label><br />
            <input type="text" name="town" /><br />
            <label for="Company">%street%:</label><br />
            <input type="text" name="street" /><br />
            <label for="Company">%housenum%:</label><br />
            <input type="text" name="hn" size="4" /><br />
            <label for="Phone">%phone%:</label><br />
            <input type="text" name="telefon" />