<table width="100%" border="0" cellspacing="1" cellpadding="2" bgcolor="$border">
  <tr>
    <td class="title">&raquo; $title</td>
  </tr>
  <tr>
    <td bgcolor="$pagebg"></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="2" bgcolor="$border">
  <tr bgcolor="$bg1">
    <td>%date%: $date</td>
  </tr>
  <tr bgcolor="$bg1">
    <td>%clicks% $viewed</td>
  </tr>
  <tr bgcolor="$bg1">
    <td>%difficulty% $schwier</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="2" align="center" bgcolor="$border">
  <tr bgcolor="#FFCC99">
    <td width="30%" align="left" valign="top"><strong>%info%:</strong></td>
    <td width="70%" align="left" valign="top">$vorwort</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="2" bgcolor="$border">
  <tr bgcolor="$bg1">
    <td valign="top" width="30%" align="left">%des%:</td>
    <td valign="top" width="70%" align="left">$content</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="2" bgcolor="$border">
  <tr bgcolor="$bg1">
    <td align="left">%rating%: $ratingpic ($votes %votes%) $rateform</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="2" bgcolor="$border">
  <tr bgcolor="$bg1">
    <td align="right">$adminaction</td>
  </tr>
</table>
<br />