<script language="JavaScript" type="text/javascript">
<!--
function chkFormular() {
	if(document.post.title.value == "") {
		alert("You have to enter a title!");
		document.post.title.focus();
   		return false;
	}
	
	if(document.post.message.value == "") {
		alert("You have to enter text!");
		document.post.message.focus();
   		return false;
	}
	
}
-->
</script>




<form action="works.php?action=save" enctype="multipart/form-data" method="post" name="post" onSubmit="return chkFormular()">
  <table width="100%" border="0" cellspacing="1" cellpadding="2" bgcolor="$border">
    <tr> 
      <td class="title"  bgcolor="$bghead" width="100%"><b>%new_project%</b></td>
    </tr>
    <tr> 
      <td bgcolor="$pagebg" width="100%"></td>
    </tr>
    <tr> 
      <td bgcolor="$bg1" width="100%"><table width="100%" border="0" cellspacing="0" cellpadding="2" class="formtable">
          <tr> 
            <td valign="top" colspan="2">
              <table border="0" width="100%" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="50%">$addbbcode</td>
                  <td width="50%">$addflags</td>
                </tr>
              </table>            </td>
          </tr>
          <tr> 
            <td colspan="2"><hr noshade size="1" color="$border"></td>
          </tr>
          <tr >
            <td width="17%"> 
                <p align="left"><b>%name%:&nbsp;
            </b> </td>
            <td width="83%">
              <p align="left"><b>
                  <input name="title" type="text" style="width:100%;" class="form_off" onfocus="this.className='form_on'" onblur="this.className='form_off'" />
            </b></td>
          </tr>
              <td width="17%"><b>%url%:</b></td>
              <td width="83%"><input name="pagelink" type="text" class="form_off" id="pagelink" onfocus="this.className='form_on'" onblur="this.className='form_off'" value="http://" style="width:100%;" /></td>

          <tr >
            <td width="17%">
              <p align="left"><b>%status%:</b></td>
            <td width="83%">
              <p align="left"><input name="status" type="checkbox" value="1" checked>online</td>
          </tr>

          <tr >
            <td width="17%"> 
                <p align="left"><b>%designer%:&nbsp;
            </b> </td>
            <td width="83%">
              <p align="left"><b><input name="designer" type="text" class="form_off" id="designer" onfocus="this.className='form_on'" onblur="this.className='form_off'" style="width:100%;" />
            </b></td>
          </tr>
          <tr >
            <td width="17%"> 
                <p align="left"><b>%slicer%:&nbsp;
            </b> </td>
            <td width="83%">
              <p align="left"><b><input name="slicer" type="text" class="form_off" id="slicer" onfocus="this.className='form_on'" onblur="this.className='form_off'" style="width:100%;" />
            </b></td>
          </tr>
          <tr >
            <td width="17%"> 
                <p align="left"><b>%coder%:&nbsp;
            </b> </td>
            <td width="83%">
              <p align="left"><b><input name="code" type="text" class="form_off" id="code" onfocus="this.className='form_on'" onblur="this.className='form_off'" style="width:100%;" />
            </b></td>
          </tr>
          <tr >
            <td width="17%"> 
                <p align="left"><b>%programs%:&nbsp;
                </b> </td>
            <td width="83%">
              <p align="left"><b><input name="programme" type="text" class="form_off" id="programme" onfocus="this.className='form_on'" onblur="this.className='form_off'" style="width:100%;" />
                </b></td>
          </tr>
          <tr >
            <td width="17%"> 
                <p align="left"><b>%release%:&nbsp;
            </b> </td>
            <td width="83%">
              <p align="left"><b><input name="release" type="text" class="form_off" id="release" onfocus="this.className='form_on'" onblur="this.className='form_off'" style="width:100%;" />
            </b></td>
          </tr>
          <tr >
            <td colspan="2"><hr noshade size="1" color="$border"></td>
          </tr>
          <tr >
            <td colspan="2"><strong>%designed_for%</strong></td>
          </tr>
          <tr >
            <td colspan="2"><hr noshade size="1" color="$border"> </td>
          </tr>
          <tr >
            <td width="17%" align="left"><strong>%name%: 
              </strong> </td>
            <td width="83%">
              <p align="left"><b>
              <input name="auftraggeber1" type="text" class="form_off" id="auftraggeber1" onfocus="this.className='form_on'" onblur="this.className='form_off'" style="width:100%;" />
            </b></td>
          </tr>
          <tr >
            <td width="17%" align="left"><strong>%surname%:&nbsp;</strong> </td>
            <td width="83%">
              <p align="left"><strong><b>
              <input name="auftraggeber2" type="text" class="form_off" id="auftraggeber2" onfocus="this.className='form_on'" onblur="this.className='form_off'" style="width:100%;" />
            </b></strong></td>
          </tr>
          <tr >
            <td width="17%" align="left"><p align="left"><strong><b>%nickname%</b></strong></td>
            <td width="83%">
              <p align="left"><strong><b><input name="auftragmsn" type="text" class="form_off" id="auftraggeber15" onfocus="this.className='form_on'" onblur="this.className='form_off'" style="width:100%;" />
            </b></strong></td>
          </tr>
          <tr >
            <td width="17%" align="left"><strong>%email%:&nbsp;</strong> </td>
            <td width="83%">
              <p align="left"><strong><b>
              <input name="auftragmail" type="text" class="form_off" id="auftraggeber13" onfocus="this.className='form_on'" onblur="this.className='form_off'" style="width:100%;" />
            </b></strong></td>
          </tr>
          <tr >
            <td width="17%" align="left"><strong>%icq%:&nbsp;</strong> </td>
            <td width="83%">
              <p align="left"><strong><b>
              <input name="auftragicq" type="text" class="form_off" id="auftraggeber14" onfocus="this.className='form_on'" onblur="this.className='form_off'" style="width:100%;" />
            </b></strong></td>
          </tr>
          <tr >
            <td width="17%" align="left"><strong>%homepage%:<b>
              &nbsp;
            </b></strong> </td>
            <td width="83%">
              <p align="left"><strong><b><input name="auftraghp" type="text" class="form_off" id="auftraggeber16" onfocus="this.className='form_on'" onblur="this.className='form_off'" value="http://" style="width:100%;" />
            </b></strong></td>
          </tr>
          <tr >
            <td colspan="2"><hr noshade size="1" color="$border"></td>
          </tr>
          <tr >
            <td colspan="2"><b>%img_upload%</b></td>
          </tr>
          <tr >
            <td colspan="2"><hr noshade size="1" color="$border"> </td>
          </tr>
          <tr >
            <td width="17%">
              <p align="left"><b>%screenshot%:</b></td>
            <td width="83%">
              <p align="left">
              <input name="screen" type="file" class="form_off" onfocus="this.className='form_on'" onblur="this.className='form_off'"></td>
          </tr>
          <tr >
            <td width="17%">
              <p align="left"><b>%banner_big%:</b></p>            </td>
            <td width="83%">
              <p align="left"><input name="link468" type="file" class="form_off" onfocus="this.className='form_on'" onblur="this.className='form_off'"></td>
          </tr>
          <tr >
            <td width="17%">
              <p align="left"><b>%banner_small%:</b></td>
            <td width="83%">
              <p align="left"><input name="link88" type="file" class="form_off" onfocus="this.className='form_on'" onblur="this.className='form_off'"></td>
          </tr>
          <tr >
            <td width="17%">
              <p align="left"><b>%squad_img%:</b></td>
            <td width="83%">
              <p align="left"><input name="squad" type="file" class="form_off" onfocus="this.className='form_on'" onblur="this.className='form_off'"></td>
          </tr>
          <tr >
            <td width="17%">
              <p align="left"><b>%news_img%:</b></td>
            <td width="83%">
              <p align="left"><input name="news" type="file" class="form_off" onfocus="this.className='form_on'" onblur="this.className='form_off'"></td>
          </tr>
          <tr >
            <td width="17%">            </td>
            <td width="83%">
              <p align="left"></td>
          </tr>
          <tr > 
            <td colspan="2"><hr noshade size="1" color="$border"> </td>
          </tr>
          <tr > 
            <td colspan="2">
              <p ><b>%comments%</b> </td>
          </tr>
          <tr > 
            <td colspan="2"> <hr noshade size="1" color="$border"> </td>
          </tr>
          <tr > 
            <td colspan="2">
              <p align="left"><textarea name="message" rows="20" style="width:100%" class="form_off" onFocus="this.className='form_on'" onBlur="this.className='form_off'" cols="20"></textarea> 
              <br> </p> </td>
          </tr>
          <tr> 
            <td colspan="2">&nbsp;&nbsp;            </td>
          </tr>
          <tr> 
            <td colspan="2"><hr noshade size="1" color="$border"></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="2" class="formtable">

          <tr> 
            <td align="right"><input type="hidden" name="worksID" value="$worksID">
              <input type="hidden" name="userID" value="$userID">
              <select name="comments">
                <option value="0">%no_comments%</option>
                <option value="1">%user_comments%</option>
                <option value="2">%allow_comments%</option>
			    </select>
              <input name="save" type="submit" value="%save%"> 
			  <input name="button" type="button" class="button" onClick="window.close()" value="%cancel%"></td>
          </tr>
        </table></td>
    </tr>
  </table>
</form>

