  <tr bgcolor="$bghead"> 
    <td class="title" colspan="3" width="100%">&nbsp; $title</td>
  </tr>
  <tr>
   <td bgcolor="$pagebg" colspan="3" width="100%"></td>
  </tr>
  <tr bgcolor="$bg1">
    <td bgcolor="$bg1" width="178" height="117">$screen</td>
    <td bgcolor="$bg2" width="100%" valign="top">
      <table border="0" width="80%" cellspacing="1" cellpadding="2">
        <tr>
          <td width="100%"><img src="images/icons/user1.png" /> %added% $poster</td>
        </tr>
        <tr>
          <td width="100%"><img src="images/icons/clicks.png" /> %viewed% $viewed %times%</td>
        </tr>
        <tr>
          <td width="100%"><img src="images/icons/rate.png" /> %rating% $ratingpic</td>
        </tr>
        <tr>
          <td width="100%"><img src="images/icons/picture.png" /> %designer% $designer</td>
        </tr>
        <tr>
          <td width="100%"><img src="images/icons/works.png" /> $link</td>
        </tr>
        <tr>
          <td width="100%"><img src="images/icons/home.png" /> <a href="$pagelink">$pagelink</a></td>
        </tr>
      </table>
    </td></tr>
     <tr bgcolor="$bg1">
    <td bgcolor="$pagebg" width="110" colspan="2"></td>
</tr>