
 <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="100%" valign="top" colspan="2">
      <table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="708" valign="top"><table width="100%" cellpadding="2" cellspacing="1" bgcolor="$border">
        <tr> 
          <td colspan="2" class="title" bgcolor="$bghead">&nbsp; &bull; $title</td> 
        </tr>
        <tr> 
          <td colspan="2" bgcolor="$pagebg"></td>
        </tr>
        <tr> 
          <td width="35%" bgcolor="$bg1">%designer%:</td>
          <td width="65%" bgcolor="$bg1">$designer</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1">%slicer%:</td>
          <td bgcolor="$bg1">$slicer</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1">%coder%:</td>
          <td bgcolor="$bg1">$code</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1">%status%:</td>
          <td bgcolor="$bg1">$status</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1">%url%:</td>
          <td bgcolor="$bg1">$pagelink</td>
        </tr>
      </table></td>
          <td width="10">&nbsp;&nbsp;</td>
          <td width="243" valign="top"><table width="100%" cellpadding="2" cellspacing="1" bgcolor="$border">
        <tr> 
          <td class="title" bgcolor="$bghead">&nbsp; &bull; Screenshot:</td> 
        </tr>
        <tr> 
          <td bgcolor="$pagebg"></td>
        </tr>
        <tr> 
          <td width="178" height="117" align="center" valign="middle" bgcolor="$bg1">$screen</td>
        </tr>
      </table></td>
        </tr>
      </table>
 </td>
  </tr>
  <tr>
    <td width="100%" valign="top" colspan="2">&nbsp;&nbsp; </td>
  </tr>
  <tr>
    <td width="100%" valign="top" colspan="2">      <table width="100%" cellspacing="1" cellpadding="2" bgcolor="$border">
        <tr> 
          <td class="title" bgcolor="$bghead">&nbsp; &bull; %details_info% </td>
        </tr>
        <tr> 
          <td bgcolor="$pagebg"></td>
        </tr>
        <tr> 
          <td bgcolor="$bg1">$content</td>
        </tr>
      </table> </td>
  </tr>
  <tr>
    <td width="100%" valign="top" colspan="2"> &nbsp;&nbsp; </td>
  </tr>
  <tr>
    <td width="100%" valign="top" colspan="2">       <table width="100%" cellspacing="1" cellpadding="2" bgcolor="$border">
        <tr> 
          <td colspan="2" class="title" bgcolor="$bghead">&nbsp; &bull;
            %design_info%</td>
        </tr>
        <tr> 
          <td colspan="2" bgcolor="$pagebg"></td>
        </tr>
        <tr> 
          <td width="35%" bgcolor="$bg1">%programs%</td>
          <td width="65%" bgcolor="$bg1">$programme</td>
        </tr>
        <tr> 
          <td bgcolor="$bg1">%release%:</td>
          <td bgcolor="$bg1">$release</td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td width="100%" valign="top" colspan="2"> <table width="100%" cellspacing="1" cellpadding="2" bgcolor="$border">
        <tr> 
          <td colspan="2" class="title" bgcolor="$bghead" width="1221">&nbsp; &bull;
            %designed_for%</td>
        </tr>
        <tr> 
          <td colspan="2" bgcolor="$pagebg" width="1221"></td>
        </tr>
        <tr> 
          <td width="198" bgcolor="$bg1">%name%, %surname%:</td>
          <td width="1015" align="center" bgcolor="$bg1">
            <p align="left">$auftraggeber1, $auftraggeber2</p>
          </td>
        </tr>
        <tr> 
          <td bgcolor="$bg1" width="198">%nickname%:</td>
          <td bgcolor="$bg1" align="center" width="1015">
            <p align="left">$auftragmsn
          </td>
        </tr>
        <tr> 
          <td bgcolor="$bg1" width="198">%email%:</td>
          <td bgcolor="$bg1" align="center" width="1015">
            <p align="left"><a href="mailto:$auftragmail">$auftragmail</a></p>
          </td>
        </tr>
        <tr> 
          <td bgcolor="$bg1" width="198">%icq%:</td>
          <td bgcolor="$bg1" align="center" width="1015">
            <p align="left">$auftragicq</p>
          </td>
        </tr>
        <tr> 
          <td bgcolor="$bg1" width="198">%homepage%:</td>
          <td bgcolor="$bg1" align="center" width="1015"><p align="left"><a href="$auftraghp" target="_blank">$auftraghp</a></p></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td width="100%" valign="top" colspan="2"> &nbsp;&nbsp; </td>
  </tr>
  <tr>
    <td width="100%" valign="top" colspan="2"> <table width="100%" cellspacing="1" cellpadding="2" bgcolor="$border">
        <tr> 
          <td class="title" bgcolor="$bghead">&nbsp; &bull; %banner_big% 468 x 60
            Pixel</td>
        </tr>
        <tr> 
          <td bgcolor="$pagebg"></td>
        </tr>
        <tr> 
          <td bgcolor="$bg1">
            <p align="center">$linkbannergroﬂ</p>
          </td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td width="100%" valign="top" colspan="2"> &nbsp;&nbsp; </td>
  </tr>
  <tr>
    <td width="100%" valign="top" colspan="2"> <table width="100%" cellspacing="1" cellpadding="2" bgcolor="$border">
        <tr> 
          <td class="title" bgcolor="$bghead">&nbsp; &bull; %banner_small% 88 x 31
            Pixel</td>
        </tr>
        <tr> 
          <td bgcolor="$pagebg"></td>
        </tr>
        <tr> 
          <td bgcolor="$bg1">
            <p align="center">$bannerklein</p>
          </td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td width="100%" valign="top" colspan="2"> &nbsp;&nbsp;&nbsp; </td>
  </tr>
  <tr>
    <td width="100%" valign="top" colspan="2"> <table width="100%" cellspacing="1" cellpadding="2" bgcolor="$border">
        <tr> 
          <td class="title" bgcolor="$bghead">&nbsp; &bull; %squad_img%</td>
        </tr>
        <tr> 
          <td bgcolor="$pagebg"></td>
        </tr>
        <tr> 
          <td bgcolor="$bg1">
            <p align="center">$squadbild</p>
          </td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td width="100%" valign="top" colspan="2"> &nbsp;&nbsp;&nbsp; </td>
  </tr>
  <tr>
    <td width="100%" valign="top" colspan="2"> <table width="100%" cellspacing="1" cellpadding="2" bgcolor="$border">
        <tr> 
          <td class="title" bgcolor="$bghead">&nbsp; &bull; %news_img%</td>
        </tr>
        <tr> 
          <td bgcolor="$pagebg"></td>
        </tr>
        <tr> 
          <td bgcolor="$bg1">
            <p align="center">$newsbild</p>
          </td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td width="100%" valign="top" colspan="2"> &nbsp;&nbsp; </td>
  </tr>
  <tr>
    <td width="50%" valign="top"> 
      <p align="left">$rateform </td>
    <td width="50%" valign="top"> 
      <p align="right">%rating%: $ratingpic&nbsp;&nbsp; </td>
  </tr>
</table>
$adminaction