<table width="280" border="0" cellspacing="0" cellpadding="0">
<form method="post" name="login" action="checklogin.php">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="73" height="24"><img src="slike/login/user_left.jpg" width="73" height="24" /></td>
                <td background="slike/login/user.jpg" width="140" height="24"><input name="ws_user" type="text" size="13" width="140" value="Username" onfocus="this.value=''" style="background:none; border:0px;" /></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="74"><img src="slike/login/pass_left.jpg" width="74" height="24" /></td>
                <td align="left" background="slike/login/pass.jpg" width="100%" style="background-repeat:no-repeat"><input  name="pwd" type="password" size="13" value="Password" onfocus="this.value=''" width="139" style="background:none; border:0px;" /> </td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td width="10">&nbsp;</td>
        <td align="center" valign="middle"><input type="submit" name="submit" value="&nbsp;" style="background-image:url(slike/login/login_bg.jpg); width:58px; height:58px; border:0px" /></td>
      </tr>
    </table></td>
  </tr>
  </form>
</table><br />
<span class="register"><strong><a href="index.php?site=register">Register</a></strong> now to get full site access!<br />
Click <strong><a href="index.php?site=lostpassword">here</a></strong> if you forgotten your password!</span>