<table width="462" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td background="slike/news/head.jpg" height="17" valign="top" style="padding-left:4px;">$headline</td>
      </tr>
      <tr>
        <td background="slike/news/rubric.jpg" height="43" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td background="slike/news/posted.jpg" height="18"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" style="padding-left:4px;">%written_by% $poster</td>
            <td align="right" style="padding-right:4px;">$date - $time</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td background="slike/news/bg.jpg" style="padding-left:5px; padding-right:5px;">$content<br />&nbsp;</td>
      </tr>
      <tr>
        <td background="slike/news/bottom.jpg" height="25" valign="top" style="padding-left:4px;">$comments</td>
      </tr>
    </table></td>
  </tr>
</table>
$adminaction<br />
