<table width="200" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="93" valign="top"><img src="images/topmatch/$logo2" alt="" /></td>
            <td valign="top" class="register"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><a href="$url1" target="_blank">$team2</a></td>
              </tr>
              <tr>
                <td>$date - $time</td>
              </tr>
              <tr>
                <td>League: <a href="http://$matchlink" target="_blank">$league</a></td>
              </tr>
              <tr>
                <td>Server: $server</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
	</tr>
</table>

