<div class="loggedwel">%welcome_back%: $username</div><br />
<span class="loggedava">$l_avatar</span> 
<span class="loggedlink"><a href="index.php?site=loginoverview">%overview%</a></span><br />
<span class="loggedlink"><a href="index.php?site=myprofile">%edit_account%</a></span><br />
<span class="loggedlink"><a href="index.php?site=messenger">%messenger%</a>$newmessages</span><br />
<span class="loggedlink"><a href="index.php?site=usergallery">%galleries%</a></span><br />
<span class="loggedlink"><a href="index.php?site=buddys">%buddy_list%</a></span><br />
<span class="loggedlink">$cashbox</span><br />
<span class="loggedlink">$admin</span><br />
<span class="loggedlink"><a href="logout.php">%logout%</a></span> <br class="clear" />
