<form method="post" name="login" action="checklogin.php">
  <span class="loginbereich">
  <input name="ws_user" type="text" value="Username" onfocus="this.value=''" class="logininput" />
  <input name="pwd" type="password" value="********" onfocus="this.value=''" class="logininput" />
  </span> 
  <span class="loginbereich2">
  <input name="submit" type="image" src="styles/right/submit.jpg" style="border:0; margin-bottom:3px;" />
  <br />
  <a href="index.php?site=register"><img src="styles/right/register.jpg" width="70" height="16" alt="register" style="margin-bottom:3px;" /></a><br />
  <a href="index.php?site=lostpassword"><img src="styles/right/lostpw.jpg" width="70" height="16" alt="get password" style="margin-bottom:3px;" /></a> 
  </span>
</form>
<br class="clear" />
