<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
  <center><a href="http://www.starrave.net" target="_blank"><img src="http://www.sTaRRaVe.net/sr.png" alt="" /></a>
<script type="text/javascript"><!--
google_ad_client = "pub-5406203402286387";
/* 180x150, Erstellt 25.06.09 */
google_ad_slot = "7113828697";
google_ad_width = 180;
google_ad_height = 150;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></center>
    </td>
  </tr>
</table>
<br />