<form method="post" name="login" action="checklogin.php">
      <input name="ws_user" type="text" size="13" maxlength="20" value="Username" onfocus="this.value=''" style="background:url(styles/head/username.jpg); width:141px; height:16px; color:#fff; padding:0 10px 0 50px; margin:0 0 8px 0; border:0;" />
      <br />
      <input name="pwd" type="password" size="13" maxlength="23" value="Password" onfocus="this.value=''" style="background:url(styles/head/password.jpg); width:141px; height:16px; color:#fff; padding:0 10px 0 50px; margin:0 0 0 23px; border:0;" />
      <br />
      <a href="index.php?site=registered_users"><img src="styles/head/users.jpg" width="70" height="16" alt="registered users" style="margin:7px 0 0 45px;" /></a><a href="index.php?site=lostpassword"><img src="styles/head/lostpw.jpg" width="99" height="16" alt="lost password" /></a><input type="image" name="submit" src="styles/head/submit.jpg" style="padding:0; margin:0; border:0;" />
      <br />
      <a style="color:#000; text-transform:uppercase; margin-left:67px; line-height:18px;" href="index.php?site=register">register to get full access</a>
    </form>